# Analysis Victor

In [2]:
import pandas as pd

## Data cleaning

### Movie character

In [22]:
character_df = pd.read_csv("archive/movie_characters_metadata.tsv", sep="\t", header=None)
character_df.columns = ["characterID", "character name", "movieID", "movie title", "gender", "position"]
character_df.dropna(subset=["gender"], inplace=True)
character_df  = character_df[character_df.gender != "?"]
character_df["gender"].str.lower()
character_df.head()

,characterID,character name,movieID,movie title,gender,position
0,u0,BIANCA,m0,10 things i hate about you,f,4
2,u2,CAMERON,m0,10 things i hate about you,m,3
4,u4,JOEY,m0,10 things i hate about you,m,6
5,u5,KAT,m0,10 things i hate about you,f,2
6,u6,MANDELLA,m0,10 things i hate about you,f,7

### Movie conversations

In [30]:
conversations_df = pd.read_csv("archive/movie_conversations.tsv", sep="\t", header=None)
conversations_df.columns = ["characterID", "characterID2", "movieID", "utterance_list"]
conversations_df.head()

  characterID characterID2 movieID                 utterance_list
0          u0           u2      m0  ['L194' 'L195' 'L196' 'L197']
1          u0           u2      m0                ['L198' 'L199']
2          u0           u2      m0  ['L200' 'L201' 'L202' 'L203']
3          u0           u2      m0         ['L204' 'L205' 'L206']
4          u0           u2      m0                ['L207' 'L208']

### Raw scripts

In [33]:
raw_scripts_df = pd.read_csv("archive/raw_script_urls.tsv", sep="\t", header=None)
raw_scripts_df.columns = ["movieID", "movie title", "url"]
raw_scripts_df.head()

,movieID,movie title,url
0,m0,10 things i hate about you,http://www.dailyscript.com/scripts/10Things.html
1,m1,1492: conquest of paradise,http://www.hundland.org/scripts/1492-ConquestO...
2,m2,15 minutes,http://www.dailyscript.com/scripts/15minutes.html
3,m3,2001: a space odyssey,http://www.scifiscripts.com/scripts/2001.txt
4,m4,48 hrs.,http://www.awesomefilm.com/script/48hours.txt